.container {
  margin: 0 auto;
}

.board {
  width: 100%;
  height: 400px;
  background-image: url(/assets/images/彈珠檯-反光修正.png);
  position: relative; //長寬固定，點點位置不會偏移

  @include picture() {}

}

//上方藍色閃光
.bluelight {
  width: 200px;
  height: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 2%;
  left: 50%;
  border-radius: 50%;
  background-color: rgba(33, 110, 255, 0.9);
  box-shadow: 0 0 10px #247bff, 0 0 20px #247bff, 0 0 20px #247bff inset;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



//球的外觀
.mouseLight {
  width: 18px;
  height: 18px;
  background-color: rgb(70, 255, 246);
  font-size: 10px;

}

.pointLight-container {

  position: absolute; //推到board中間
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.pointLight {
  width: 15px;
  height: 15px;
  font-size: 6px; //分數字體大小
  background: radial-gradient(circle, darken(rgba(255, 223, 97), 40%), darken(rgba(255, 122, 45), 90%)); //背景

}

.pointLight-wrap1 {
  padding-left: 0px !important;

  //微調每一欄的位置
  position: relative;
  top: 54px;
  left: -45px;

  li {
    margin-bottom: 1px !important;
  }
}


.pointLight-wrap2 {
  padding-left: 0px !important;
  //微調每一欄的位置
  position: relative;
  top: 54px;
  left: -26px;

  li {
    margin-bottom: 1px !important;
  }

}

.pointLight-wrap3 {
  padding-left: 0px !important;
  //微調位置
  position: relative;
  top: 55px;
  left: 10px;

  li {
    margin-bottom: 1px !important;
  }
}

.pointLight-wrap4 {
  //微調位置
  position: relative;
  top: 55px;
  left: 28px;
  padding-left: 0px !important;

  li {
    margin-bottom: 1px !important;
  }
}

//數來數去的位置

.mouseLight-wrap {
  position: absolute; //推到board中間
  //萬用置中(寬度)才不會隨便跑

  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  // top: 39%;
  // left: 0px;
}


.mouseLight1 {
  position: relative;
  top: 2px;
  left: 10px;
  margin-right: 16px;
}

.mouseLight2 {
  position: relative;
  top: -9px;
  left: 8px;
  margin-right: 16px;

}

.mouseLight3 {
  position: relative;
  top: -9px;
  left: 8px;
  margin-right: 16px;
}

.mouseLight4 {
  position: relative;
  top: 3px;
  left: 6px;
  margin-right: 16px;
}

.pointLight-out1 {
  // background-color: #ff7a2d;
  background: radial-gradient(circle, #ffdf61, #ff7a2d);
}

.pointLight-out2 {
  background-color: #ff7a2d;
}


.pointLight-in {
  background-color: #ff7a2d;
}



//mouseFlash閃爍
$mouse-opacitys: (
  mouseFlash:100%,
  //100%完全不透明
);

@each $name, $opacity in $mouse-opacitys {
  .#{$name} {

    // 這裡不要加背景顏色，以免擋到閃爍效果
    @keyframes #{$name}-flash {
      40% {
        background-color: darken(rgba(70, 255, 246, 0.788), $opacity);
      }

      60% {
        background-color: (rgb(255, 251, 39, $opacity));
      }

      80% {
        background-color: darken(rgba(255, 251, 39, 0.747), $opacity);
      }


    }

    animation: 1.5s #{$name}-flash infinite;
  }
}




//pointLight 第一組閃爍
//另外不可用fill，fill是用在SVG上的
$opacitys: (
  pointLight-out1:100%,
  //100%完全不透明
  // pointLight-out1-opacity:0,
);

@each $name, $opacity in $opacitys {
  .#{$name} {

    // 這裡不要加背景顏色，以免擋到閃爍效果
    @keyframes #{$name}-flash {

      50% {
        background: radial-gradient(circle, darken(rgba(255, 223, 97, $opacity), 40%), darken(rgba(255, 122, 45, $opacity), 90%)); // darken(#ff7a2dce, $opacity)
      }
    }

    animation: 1s #{$name}-flash 10;

  }

}

//控制閃爍延遲
$timings: (
  timing-0: 0s,
  timing-15: .15s,
);

@each $timing-name, $timing in $timings {
  .#{$timing-name} {
    animation-delay: $timing;
  }
}


//pointLight-out2第二組閃爍
$opacitys: (
  pointLight-out2:100%,
  //100%完全不透明
  // pointLight-in:100%
);

@each $name, $opacity in $opacitys {
  .#{$name} {

    @keyframes #{$name}-flash-2 {
      40% {
        background: radial-gradient(circle, darken(rgba(255, 223, 97, $opacity), 40%), darken(rgba(255, 122, 45, $opacity), 90%)); // background-color: darken(#ff7a2da9, $opacity); //rgba(255, 122, 45, $opacity);
      }

      80% {
        background: radial-gradient(circle, darken(rgba(255, 223, 97, $opacity), 40%), darken(rgba(255, 122, 45, $opacity), 90%)); // background-color: darken(#ff7a2da9, $opacity); //rgba(255, 122, 45, $opacity);
      }
    }

    // 使用第二組 keyframes，動畫執行 40 次才停止
    animation: 1s #{$name}-flash-2 infinite;
  }

}

//控制閃爍延遲
$timings: (
  timing-0: 0s,
  timing-15: .15s,
);

@each $timing-name, $timing in $timings {
  .#{$timing-name} {
    animation-delay: $timing;
  }
}


.firstGetpoint {

  background: radial-gradient(circle, #ffdf61, #ff7a2d);
}



//第一次得分閃爍，閃6下就停止
$opacitys: (
  firstGetpoint:100%,
  //100%完全不透明

);

@each $name, $opacity in $opacitys {
  .#{$name} {

    // 這裡不要加背景顏色，以免擋到閃爍效果
    @keyframes #{$name}-flash {
      40% {

        background: radial-gradient(circle, darken(rgba(255, 223, 97, $opacity), 40%), darken(rgba(255, 122, 45, $opacity), 90%));

      }

    }

    animation: .3s #{$name}-flash 6;
  }
}



//得幾分亮起指定分數按鈕
.highlight {

  background: radial-gradient(circle, #ffdf61, #ff7a2d);
}

.nothighlight {
  background-color: rgb(59, 59, 59);
}

//點擊開始燈號樣式,用timing比較好用
//要改成: 依序全部亮，再依序全部暗
.startlight {
  background: radial-gradient(circle, #ffdf61, #ff7a2d);
}

$opacitys: (
  startlight:100%,
  //100%完全不透明

);


@each $name, $opacity in $opacitys {
  .#{$name} {
    @keyframes #{$name}-flash-3 {
      50% {
        background: radial-gradient(circle, darken(rgba(255, 223, 97, $opacity), 90%), darken(rgba(255, 122, 45, $opacity), 40%));
      }


    }

    animation: 1s #{$name}-flash-3 0.5;
  }
}

//startlight控制閃爍延遲
$timings: (
  start-0: 0s,
  start-15: .15s,
  start-20: .20s,
  start-25: .25s,
  start-30: .3s,
  start-35: .35s,
  start-40: .4s,
  start-45: .45s,
  start-50: .5s,
  start-55: .55s,
  start-60: .6s,
  start-65: .65s,
  start-70: .7s,
);

@each $timing-name, $timing in $timings {
  .#{$timing-name} {
    animation-delay: $timing;
  }
}



//資訊牆樣式

//更改input樣式
.ticket {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#ticket {
  background: transparent;
  width: 53px;
  height: 22px;
  //微調位置
  position: relative;
  top: 122px;
  left: 42px;


  font-family: Orbitron, sans-serif;
  font-size: 12px;
  color: #e92469;
  background-color: #410102;
  text-align: right;
  /* 將文字置右 */
}

.ballNumber {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#ballNumber {
  background: transparent;
  width: 30px;
  height: 20px;
  position: relative;
  top: 114px;
  left: 0px;
  font-family: Orbitron, sans-serif;
  font-size: 12px;
  color: #e92469;
  background-color: #410102;
  text-align: right;
  /* 將文字置右 */
}

.gameNumber {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#gameNumber {
  background: transparent;
  width: 42px;
  height: 20px;
  position: relative;
  top: 144px;
  left: 0px;
  font-family: Orbitron, sans-serif;
  font-size: 12px;
  color: #e92469;
  background-color: #410102;
  text-align: right;
  /* 將文字置右 */
}


.point {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#point {
  background: transparent;
  width: 52px;
  height: 20px;
  position: relative;
  top: 122px;
  left: -42px;
  font-family: Orbitron, sans-serif;
  font-size: 12px;
  color: #e92469;
  background-color: #410102;
  text-align: right;
  /* 將文字置右 */
}


//下方操作 
.handle {
  width: 300px;
  height: 80px;

  //relative萬用置中(重要)
  transform: translate(-50%, -10%);
  top: 0%;
  left: 50%;

  background-image: url(/assets/images/拉桿模組.png);

  @include picture() {}
}

.start {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 26%;
}

.coin {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 180%;
  left: 80%;
}



//拉桿
.bar {
  width: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 79%;
  left: 90%;
}

#barImgLong {
  position: relative;
  top: 50px;
  left: 0px;
  visibility: hidden;
}

#barImgShort {
  position: absolute;
  top: 50px;
  left: 0px;
}


//middle
.middle-frame {
  width: 260px !important;
  height: 195px !important;
  overflow: hidden;
 
  img {
    max-width: 130% !important;
    position: relative;
    transform: translate(-50%, -50%);
    top:53%; 
    left:50%;
  }

}