<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <h1 class="index-title text-center">鼠來數趣3</h1>

      <!-- board -->
      <div class="board text-center">

        <!-- light flashing -->

        <ul class="d-flex mouseLight-wrap justify-content-center align-items-center m-0">
          <li class="mouseLight mouseLight1 mouseFlash rounded-circle d-flex align-items-center justify-content-center"
            id="mouse1">鼠</li>
          <li class="mouseLight mouseLight2 mouseFlash rounded-circle d-flex align-items-center justify-content-center"
            id="mouse2">來</li>
          <li class="mouseLight mouseLight3 mouseFlash rounded-circle d-flex align-items-center justify-content-center"
            id="mouse3">數</li>
          <li class="mouseLight mouseLight4 mouseFlash rounded-circle d-flex align-items-center justify-content-center"
            id="mouse4">趣</li>
        </ul>

        <div class="d-flex pointLight-container ">
          <ul class="pointLight-wrap1 m-0">
            <li
              class="pointLight pointLight15 timing-0 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight15">15分</li>
            <li
              class="pointLight pointLight20 timing-0 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight20">20分</li>
            <li
              class="pointLight pointLight25 timing-0 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight25">25分</li>
            <li
              class="pointLight pointLight30 timing-0 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight30">30分</li>
          </ul>
          <ul class="pointLight-wrap2 m-0">
            <li
              class="pointLight pointLight35 timing-15 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight35">35分</li>
            <li
              class="pointLight pointLight40 timing-15 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight40">40分</li>
            <li
              class="pointLight pointLight45 timing-15 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight45">45分</li>
            <li
              class="pointLight pointLight50 timing-15 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight50">50分</li>
          </ul>
          <ul class="pointLight-wrap3 m-0">
            <li
              class="pointLight pointLight55 timing-15 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight55">55分</li>
            <li
              class="pointLight pointLight60 timing-15 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight60">60分</li>
            <li
              class="pointLight pointLight65 timing-15 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight65">65分</li>
            <li
              class="pointLight pointLight70 timing-15 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight70">70分</li>
          </ul>
          <ul class="pointLight-wrap4 m-0">
            <li
              class="pointLight pointLight75 timing-0 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight75">75分</li>
            <li
              class="pointLight pointLight80 timing-0 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight80">80分</li>
            <li
              class="pointLight pointLight85 timing-0 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight85">85分</li>
            <li
              class="pointLight pointLight90 timing-0 rounded-circle d-flex align-items-center justify-content-center fw-bold"
              id="pointLight90">90分</li>
          </ul>
        </div>

        <!-- 資訊牆 -->
        <div class="ticket"><label for="ticket">彩票數</label><input type="number" id="ticket" name="ticket" required
            min="1" max="20" size="20" />
        </div>
        <div class="ballNumber"><label for="ballNumber">球數</label><input type="number" id="ballNumber"
            name="nameballNumber" required min="1" max="100" size="20" /></div>
        <div class="point"><label for="point">遊戲分數</label><input type="number" id="point" name="point" required min="1"
            max="100" size="20" /></div>
        <div class="gameNumber"><label for="gameNumber">遊戲局數</label><input type="number" id="gameNumber"
            name="gameNumber" required min="1" max="100" size="20" /></div>
        <!-- 資訊牆 end -->

      </div>


    </div>





    <div class="drag-module">
      <div class="start">開始</div>
      <div class="drag"><span style="font-size:2rem; color: red"><i class="fa-solid fa-circle-dot"></i></span></div>
    </div>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script>
        // 獲取所有點燈的元素
        const lights = document.querySelectorAll('.pointLight');
        // 逐個處理每個點燈元素
        lights.forEach((light, index) => {
          const randomDelay = Math.floor(Math.random() * (1000 - 400 + 1)) + 400;

          // 設定 pointLight-out1 的延遲時間
          // const delay1 = index * 0; // 每個元素延遲 400 毫秒，可以根據需要調整
          const delay1 = randomDelay; //****這裡會有隨機閃燈的效果,但要解決延遲播放問題****

          setTimeout(() => {
            light.classList.add('pointLight-out1'); // 添加 pointLight-out1 class
          }, delay1);

          // 設定 pointLight-out2 的延遲時間，延遲 5000 毫秒再執行

          const delay2 = 5000; // pointLight-out2延遲5000毫秒再執行

          setTimeout(() => {
            light.classList.add('pointLight-out2'); // 添加 pointLight-out2 class
          }, delay2);
        });

        //當偵測到分數不等於0時，執行firstGetpoint，而且只執行一次
        //在每一局的第一次得分就閃一次
        const pointAmount = document.getElementById('point');

        pointAmount.addEventListener(('change'), function () {
          console.log(pointAmount.value);
          // 分數不是0也不是五的倍數
          //**不是0的時候也觸發**
          if (Number(pointAmount.value) !== 0 && Number(pointAmount.value) % 5 !== 0) {

            lights.forEach(function (item) {
              item.classList.remove('firstGetpoint', 'pointLight-out1', 'pointLight-out2', 'highlight'); //加這一行，讓顯示特並分數後，其他動畫不會繼續跑出來
              item.classList.add('firstGetpoint');
            })

          } else if (Number(pointAmount.value) % 5 === 0) {

            //當分數為板子所標示的分數時，亮燈顯示該分數
            const getPointId = document.getElementById(`pointLight${Number(pointAmount.value)}`);
            //這裡加上清除所有動畫樣式
            lights.forEach(function (item) {
              //將"不是"得分的分數反灰
              if (item.id !== `pointLight${Number(pointAmount.value)}`) {
                item.classList.remove('firstGetpoint', 'pointLight-out1', 'pointLight-out2', 'highlight', 'nothighlight');
                item.classList.add('nothighlight');
              } else {

                item.classList.remove('firstGetpoint', 'pointLight-out1', 'pointLight-out2', 'highlight', 'nothighlight');
                getPointId.classList.add('highlight');
                console.log(item);

              }

            });



          }
        });

        //當分數為板子所標示的分數時，亮燈顯示該分數，以及和局數的關係




        //球數:幾球一局?


      </script>
</body>

</html>